:root {
    --bg-color: #f9f9f9;
    --text-color: #333;
    --header-bg: #0077b6;
    --hover-btn: #ffb703;
    --btn-bg: #023047;
    --btn-text: white;
  }

  #about, #skills, #experience, #education #contact {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
  }

  #contact a:link, #contact a:visited {
    color: blue;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
  }

  section {
    scroll-margin-top: 60px;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
  }
  
  aside, footer, section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
  }
  
  aside {
    position: fixed;
    height: 100vh;
    width: 15%;
    background: var(--header-bg);
    color: white;
    padding: 30px;
  }

  #sidebar {
    margin: 0;
}
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1, h2 {
    margin: 0 0 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    margin-top: 10px;
    text-align: center;
  }
  
  .sidebar-nav > a:link, a:visited{
    color: white;
    text-decoration:none;
    padding: 10px;
    transition: background 0.3s;
  }
  nav ul {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    display: block;
    list-style-type: none;
  }

  main {
    text-align: center;
    margin-left: 20%;
    padding: 20px;
    border-radius: 5px;
  }

  ul {
    justify-content: center;
    list-style-position:inside;
  }
  
  .skills ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  #footer {
    background: #e0e0e0;
    align-content: center
  }
  
  #darkModeToggle {
    padding: 8px 12px;
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #darkModeToggle:hover {
    background-color: var(--hover-btn);
    color: #000;
  }
  
  /* Dark mode styles */
  body.dark {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --header-bg: #1e1e1e;
    --btn-bg: #f0f0f0;
    --btn-text: #000;
    --hover-btn: #8ecae6;
  }
  
  body.dark footer {
    background: #2e2e2e;
  }
  