/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
/*1.1*/ article {
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}
/*1.2*/ .style-me1 {
    color: red;
}
/*1.3*/ #style-me2 {
    color: blue;
}
/*1.4*/ .style-me1#style-me2 {
    color: purple;
}
/* Put styles for questions 2.1 and 2.2 here */
/*2.1*/ .my-children-are-styled p{
    background-color: red;
}
/*2.2*/ .my-descendants-are-styled > p{
    background-color: lightgreen;
}
/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
/*1.1, 1.2, 2.1, 2.2, 2.3*/ .box{
    margin: 1px 2px;
    padding: 16px 14px 20px 18px;
    background-color: lightblue;
    margin-bottom: 3px;
    width: 91vw;
    height: 15vh !important;
    border-style: solid;
    border-radius: 20px;
    border: 10px solid darkred;
    box-sizing: border-box;
    overflow:initial;
    outline: 10px;
    background-image:url(/Exercise2/src/assets/images/img1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.position-absolute{
    position: absolute;
    top: 0;
    background-color: wheat;
    left: 200px;
    right: 50px;
}
.position-relative{
    position: relative;
    background-color: chocolate;
}
.position-sticky{
    position: sticky;
    background-color: coral;
    top: 10px;
}
.text-style{
    color: forestgreen;
    font-size: large;
    line-height: 1;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center ;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-decoration: dashed;
    }
a{
    color: cyan; 
    font-size: larger; 
    font-weight: bolder; 
    text-decoration:overline;
}
a:link{
    font-weight: 800;
}
a:hover{
    color: darkblue;
    text-decoration: dotted;
}
a:active{
    color: brown;
    text-decoration: line-through;
}
a:focus{
    color: purple;
    text-decoration: line-through;
}
a:visited{
    color: pink;
    font-style: oblique;
}
.calc-style{
    width: 100vw;
    background-color: aquamarine;
    width: calc(100vw - 100px);
}
.fixed-width-col{
    width: calc(350px - 25px);
    display: inline-block;
}
.fluid-col{
    display: inline-block;
    width: calc(5% + 1000px)
}
/*1.3*/ 
/*1.4*/ 
/*1.5*/ 
/*1.6*/ 
/*1.7*/ 
/*1.8*/ 
/* III. Positioning */
/* Put styles for questions 1-3 here */


/* IV. Styling text */
/* Put styles for questions 1-10 here */


/* V. Styling links */
/* Put styles for questions 1-3 here */


/* VI. calc() */
/* Put styles for questions 1-3 here */
