* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: whitesmoke;
}
header {
  background-color: rgb(0, 255, 234);
  color: white;
  text-align: center;
  padding: 20px;
}
nav {
  float: left;
  background-color: rgb(229, 255, 0);
  width: 30%;
  height: 300px;
  padding: 20px;
}
article {
  background-color: rgb(0, 0, 0);
  float: left;
  width: 70%;
  padding: 20px;
}
aside {
  clear: both;
}
footer {
  background: #222;
  color: #eee;
  text-align: center;
  padding: 0.5em;
  font-size: 0.9em;
}
